<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleCampusProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38F4FC481DCCC37100128B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F4FC5C1DCCC37200128B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F4FC671DCCC37200128B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
